body {
    /* background with triangle shadow *ckground: rgb(51,77,91); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(51,77,91,1) 50%, rgba(47,71,85,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,rgba(51,77,91,1)), color-stop(50%,rgba(47,71,85,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(51,77,91,1) 50%,rgba(47,71,85,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(51,77,91,1) 50%,rgba(47,71,85,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(51,77,91,1) 50%,rgba(47,71,85,1) 50%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(51,77,91,1) 50%,rgba(47,71,85,1) 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334d5b', endColorstr='#2f4755',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;
}

h1 {
    font-family: 'Tahoma', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
}

.occupied {
    background-color: #df4949;
}

.vacant {
    background-color: #92c040;
}

#status {
    font-family: 'Impact', 'HelveticaNeue-CondensedBlack' sans-serif;
    font-weight: 700;
    text-align: center;
}

#circle {
    margin-left: auto;
    margin-right: auto;
}

.page-frame {
    height: 100%;
    width: 100%
}

.frame-cell-small {
    margin-left: auto;
    margin-right: auto;
}

.frame-cell-med {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation:landscape) {
    h1 {
        font-size:6vmin;
    }

    .occupied {
        font-size:9vmin;
    }

    .vacant {
        font-size:10vmin;
    }

    #circle {
        width:50vmin;
        height:50vmin;
        border-radius:50%;
        -moz-border-radius:50%
        -webkit-border-radius:50%
        border-radius:50%;
        line-height:50vmin;
    }

    .frame-cell-small {
        height:25%;
    }

    .frame-cell-med {
        height:50%;
    }
}

@media screen and (orientation:portrait) {
    h1 {
        font-size:8vmin;
    }
    
    .occupied {
        font-size:13vmin;
    }

    .vacant {
        font-size:14vmin;
    }

    #circle {
        width:70vmin;
        height:70vmin;
        border-radius:70%;
        -moz-border-radius:70%
        -webkit-border-radius:70%
        border-radius:70%;
        line-height:70vmin;
    }

    .frame-cell-small {
        height:25%;
    }

    .frame-cell-med {
        height:50%;
    }
}
