<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
</head>
<body>
    <table class="page-frame">
        <tr>
            <td class="frame-cell-small">
                <h1>The Game Room is</h1>    
            </td>
        </tr>
        <tr>
            <td class="frame-cell-med">
                <div id="circle" class="Vacant">
                    <div id="status"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="frame-cell-small">
                <h1 id="subtext"></h1>
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        onload = function() {
	    var occupied
            var updateStatus = function() {
                console.log('updating status')
	        xmlhttp=new XMLHttpRequest();
	        xmlhttp.onreadystatechange=function() {
	            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
		        data = JSON.parse(xmlhttp.responseText)
		        if (occupied !== data.occupied) {
                            occupied = data.occupied
                            occupiedStr = occupied ? 'Occupied' : 'Vacant'
                            console.log('The game room is ' + occupiedStr)
			    document.getElementById('circle').setAttribute("class", occupiedStr)
			    document.getElementById('status').innerHTML = occupiedStr
			    document.getElementById('subtext').innerHTML = data.msg
		        }
	            }
	        }
	        xmlhttp.open("GET","/isoccupied",true);
	        xmlhttp.send();
	    }

            updateStatus()
	    setInterval(updateStatus, 5000)
	}
    </script>
</body>
</html>
